<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAutomationHybridFramework">

    <listeners>
        <listener class-name="com.inetbanking.utilities.IListeners"/>
    </listeners>
    <test name="BankingTest">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="com.inetbanking.testCases.TC_LoginTest_001"/>
<!--            <class name="com.inetbanking.testCases.ExcelDataTest"/>-->
            <class name="com.inetbanking.testCases.TC_AddCustomer_003"/>
<!--            <methods>-->
<!--                -->
<!--            </methods>-->
        </classes>
    </test>
</suite>